# Django Example

DJANGO_SECRET_KEY=replace-with-secret-key

# Example database
DATABASE_URL=postgres://user:password@database:5432/app

# Optional API Keys
API_KEY=replace-me

# Deployment
APP_ENV=production
